{% if page.categories %}
  <div class="categories">
  {% assign categories_names = [] %}
  {% assign site_categories = site.site_categories | map: "title"%}
  {% for category in page.categories %}
    {% if site_categories contains category %}
      {% assign category_name = category | split: ","%}
      {% assign categories_names = categories_names | concat: category_name %}
    {% endif %}
  {% endfor %}
  {% assign length = categories_names | size %}
  {% if length > 1 %}
    Категории:
  {% elsif  length == 1 %}
    Категория:
  {% endif %}
  {% for category in categories_names %}
        <a href=
        /categories/{{category | replace: "_", "-"}}>
          {% assign ru_names = site.site_categories | map: "category_name" %}
          {% for item in site_categories %}
            {% if item == category %}
              {% assign position = forloop.index0 %}
              {% break %} 
            {% endif %}
          {% endfor %}
          {{ru_names[position]}}
        </a>
        {% unless forloop.last %}
        | 
        {% endunless %}
  {% endfor %}
  </div>
{% endif %}
