---
custom_title: "Виды платьев"
category: clothes_and_accessories
page_image_bg: "Виды платьев.jpg"
page_image_source: "https://ru.pinterest.com/pin/730990583242463060/"
permalink: "types-of-dresses"
---
<p>Платья бывают очень разными, и их можно классифицировать по разными признакам: по силуэту, крою, посадке и длине. В
  этой статье представлены виды платьев, сгрупированные по этим признакам. Спойлер: будет очень много каруселей (целых 39)!</p>
<h2>Виды платьев по силуэту</h2>
<p><dfn>Силуэтом</dfn> называют внешние очертания платья или другого предмета одежды. В его основе лежит простая
  геометрическая фигура. Кроме того, платья различаются по прилеганию: они могут быть облегающими, полуприлегающими и
  свободными.</p>
<p>Итак, по силуэту можно выделить следующие типы платьев:</p>
<ul class="list-of-clothes-types">
  <li>Первый вид платья, который мы рассмотрим, - это <dfn>прямое платье</dfn>, то есть платье прямоугольной формы.
    {% assign carousel=site.data.dresses_carousels.items[0] %}
    {% include carousel.html
    title=carousel.title
    id=0
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    %}
  </li>
  <li>
    <dfn>Платье А-силуэта</dfn> - это платье, зауженное в грудной области и равномерно расширяющееся к низу. Оно
    напоминает по форме букву <i>А</i>, поэтому и получило такое название;
    {% assign carousel=site.data.dresses_carousels.items[1] %}
    {% include carousel.html
    title=carousel.title
    id=1
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    %}
  </li>
  <li>
    <dfn>Платье-карандаш</dfn>, или <dfn>платье-футляр</dfn> - плотно прилегающее платье с сужением книзу. Кстати, это
    хороший выбор для наряда в стиле ретро!
    {% assign carousel=site.data.dresses_carousels.items[2] %}
    {% include carousel.html
    title=carousel.title
    id=2
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    %}
  </li>
  <li>
    <dfn>Платье-тюльпан</dfn> имеет форму перевёрнутого бутона тюльпана - отсюда и название. Оно заужено в области
    талии, а к бёдрам расширяется. Подол собирается при помощи резинки или тесьмы.
    {% assign carousel=site.data.dresses_carousels.items[3] %}
    {% include carousel.html
    title=carousel.title
    id=3
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    gallery_captions=carousel.captions
    %}
  </li>
  <li>
    <dfn>Платье-бочонок</dfn> расширено в области талии, за счёт этого создаётся овальный силуэт.
    {% assign carousel=site.data.dresses_carousels.items[4] %}
    {% include carousel.html
    title=carousel.title
    id=4
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    gallery_captions=carousel.captions
    %}
  </li>
</ul>
<h2>Виды платьев по прилеганию</h2>
{% assign carousel=site.data.dresses_carousels.items[5] %}
{% include carousel.html
id=5
gallery_images=carousel.images
gallery_sources=carousel.sources
gallery_captions=carousel.captions
%}
<h2>Виды платьев по крою</h2>
<p><dfn>Крой</dfn> - это структура частей платья, основанная на чертеже для его пошива, то есть выкройке. Существует
  множество видов кроя. Иногда им дают названия по форме части ткани, из которой сделана деталь, или по способу
  соединения деталей платья.</p>
<p>Итак, перечислим основные виды кроя платьев (я не стала брать из источника те виды кроя, которые не могу отличить от
  уже упомянутых видов платьев, классифицированных по силуэту).</p>
<ul class="list-of-clothes-types">
  <li>
    <dfn>Платье-баллон</dfn> - платье с присборенным на ленту или тесьму низом.
    {% assign carousel=site.data.dresses_carousels.items[6] %}
    {% include carousel.html
    id=6
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    <dfn>Кроп-топ</dfn> - это по сути не платье, а топ и юбка. Вернее, это можно назвать платьем, разделённым на две
    части.
    {% assign carousel=site.data.dresses_carousels.items[7] %}
    {% include carousel.html
    id=7
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    <dfn>Платье шемиз</dfn> - летнее платье из лёгкого материала. Его длина - до колена, и оно расширяется книзу
    (А-силуэт). То же самое, что и платье-рубашка.
    {% assign carousel=site.data.dresses_carousels.items[8] %}
    {% include carousel.html
    id=8
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    <dfn>Платье-туника</dfn> - это длинное свободное платье трапециевидного силуэта. Иногда комплектуется поясом.
    {% assign carousel=site.data.dresses_carousels.items[9] %}
    {% include carousel.html
    id=9
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    <dfn>Платье-костюм</dfn> - это комплект жакет + платье или пиджак + юбка, сшитый из лёгких тканей.
    {% assign carousel=site.data.dresses_carousels.items[10] %}
    {% include carousel.html
    id=10
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    <dfn>Платье-пиджак</dfn> можно рассматривать как что-то среднее между платьем и жакетом.
    {% assign carousel=site.data.dresses_carousels.items[11] %}
    {% include carousel.html
    id=11
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    <dfn>Платье-трансформер</dfn> - это платье, состоящее из вазимозаменяемых деталей. Своё название получило за
    способность менять длину, форму и стиль.
    {% assign carousel=site.data.dresses_carousels.items[12] %}
    {% include carousel.html
    id=12
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    <dfn>Платье-футболку</dfn> можно рассматиривать как длинную футболку с короткими рукавами. Обычно такая модель
    неприталенная.
    {% assign carousel=site.data.dresses_carousels.items[13] %}
    {% include carousel.html
    id=13
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    <dfn>Платье-халат</dfn> имеет особую застёжку-молнию, которая иногда выполняется в виде ложного нахлёста или
    пуговиц.
    {% assign carousel=site.data.dresses_carousels.items[14] %}
    {% include carousel.html
    id=14
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    Отличительная черта <dfn>платья-лапши</dfn> - фактура вертикальных рубчиков. Оно делается из эластичного материала,
    облегает тело и обычно имеет большую длину.
    {% assign carousel=site.data.dresses_carousels.items[15] %}
    {% include carousel.html
    id=15
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    <dfn>Платье-жилет</dfn> по форме напоминает удлинённый фасон жилета.
    {% assign carousel=site.data.dresses_carousels.items[16] %}
    {% include carousel.html
    id=16
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    Вообще, <dfn>брюки-платье</dfn>, или <dfn>кюлоты</dfn> представляют из себя комбинезон, но у него широкие брюки,
    вследствие чего эта модель похожа на платье.
    {% assign carousel=site.data.dresses_carousels.items[17] %}
    {% include carousel.html
    id=17
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    <dfn>Платье-свитер</dfn> подходит для холодного времени года. Как и платье-футболка, оно редко бывает приталенным.
    {% assign carousel=site.data.dresses_carousels.items[18] %}
    {% include carousel.html
    id=18
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    <dfn>Платье-поло</dfn> - это прямое платье длиной до колена, неотъемлемые атрибуты которого - воротник, рукава и
    небольшой вырез, застёгивающийся на несколько пуговиц.
    {% assign carousel=site.data.dresses_carousels.items[19] %}
    {% include carousel.html
    id=19
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    <dfn>Платье-пальто</dfn> может составить основу образа осенью. Его отличительные черты - длинные рукава, длина до
    середины голени или колена и нестандартный ворот. Разумеется, оно сшито из плотной ткани.
    {% assign carousel=site.data.dresses_carousels.items[20] %}
    {% include carousel.html
    id=20
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    gallery_captions=carousel.captions
    %}
  </li>
  <li>
    <dfn>Платье-водолазка</dfn> - по сути, удлинённая модель тонкого облегающего свитера с высоким воротом. Может быть
    как из плотной, так из из достаточно лёгкой и эластичной ткани.
    {% assign carousel=site.data.dresses_carousels.items[21] %}
    {% include carousel.html
    id=21
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    <dfn>Платье фасона "летучая мышь"</dfn> шьётся из простой трикотажной ткани. Отличается свободным кроем и постепенно
    сужающимися рукавами.
    {% assign carousel=site.data.dresses_carousels.items[22] %}
    {% include carousel.html
    id=22
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    <dfn>Платье-толстовка</dfn> и <dfn>платье-худи</dfn> весьма схожи, так что мы не будем рассматривать их отдельно.
    Как и у толстовки, у такого платья будет капюшон или объёмный воротник, оно будет тёплым, однако будет отличаться от
    толстовки длиной.
    {% assign carousel=site.data.dresses_carousels.items[23] %}
    {% include carousel.html
    id=23
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    <dfn>Платье-комбинация</dfn> - элегантное вечернее платье, похожее на разновидность женского нижнего белья, однако
    предназначенное для выхода в свет.
    {% assign carousel=site.data.dresses_carousels.items[24] %}
    {% include carousel.html
    id=24
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    Отличительная черта <dfn>платья-бандо</dfn> - открытые плечи. В верхней части оно обязательно обтягивающее.
    {% assign carousel=site.data.dresses_carousels.items[25] %}
    {% include carousel.html
    id=25
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    Верх у <dfn>платья-облака</dfn> облегающий, а юбка пышная. Подходит не для повседневной жизни, а для особого случая.
    Я думаю, его можно даже использовать как свадебное платье.
    {% assign carousel=site.data.dresses_carousels.items[26] %}
    {% include carousel.html
    id=26
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    За счёт того, что <dfn>многоярусное платье</dfn> состоит из нескольких рядов или деталей, создаётся интересный
    силуэт.
    {% assign carousel=site.data.dresses_carousels.items[27] %}
    {% include carousel.html
    id=27
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    Как понятно из названия, <dfn>цельнокроеное платье</dfn> сождано из одной цельной части материала. При этом его
    силуэт может быть различным.
    {% assign carousel=site.data.dresses_carousels.items[28] %}
    {% include carousel.html
    id=28
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
</ul>
<h3>Виды платьев по крою верхней части</h3>
<ul class="list-of-clothes-types">
  <li>Одна часть <dfn>платья с запахом</dfn> находит на другую и держится таким образом за счёт пояса, вшитого с обеих
    сторон платья.
    {% assign carousel=site.data.dresses_carousels.items[29] %}
    {% include carousel.html
    id=29
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}</li>
  <li>
    У <dfn>платья с напуском на талии</dfn> верхняя часть свободно нависает над поясом.
    {% assign carousel=site.data.dresses_carousels.items[30] %}
    {% include carousel.html
    id=30
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
</ul>
<h3>Виды платьев по крою юбки</h3>
<ul>
  <li>
    Нижняя часть <dfn>платья с юбкой-солнце</dfn> - это объёмная юбка с одним или двумя боковыми швами. Её конструкция
    на плоскости представляет собой круг, что и послужило причиной для названия.
    {% assign carousel=site.data.dresses_carousels.items[31] %}
    {% include carousel.html
    id=31
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    Особенность <dfn>юбки плиссе</dfn> - мелкие, механически сжатые, непрошитые складки. Они могут быть плоскими или
    выступать гармошкой. Такая юбка может быть и низом платья.
    {% assign carousel=site.data.dresses_carousels.items[32] %}
    {% include carousel.html
    id=32
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    gallery_captions=carousel.captions
    title=carousel.title
    %}
  </li>
  <li>
    С изнаночной стороны линия <dfn>платья со шлейфом</dfn> удлинена.
    {% assign carousel=site.data.dresses_carousels.items[33] %}
    {% include carousel.html
    id=33
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    <dfn>Платье годе (рыбка, русалка)</dfn> - длинное, цельнокроеное платье с расклешённой юбкой ниже колена. Такой
    фасон часто выбирают невесты.
    {% assign carousel=site.data.dresses_carousels.items[34] %}
    {% include carousel.html
    id=34
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    <dfn>Платье-каскад</dfn> отличается пышной, ассиметричной юбкой.
    {% assign carousel=site.data.dresses_carousels.items[35] %}
    {% include carousel.html
    id=35
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
  <li>
    Юбка <dfn>платья-пачки</dfn> сшита из нескольких слоёв лёгкой ткани. Обычно она состоит из 6-15 подъюбников, за счёт
    чего обладает пышностью. Прекрасный выбор для образа в <a href="/balletcore">стиле балеткор</a>!
    {% assign carousel=site.data.dresses_carousels.items[36] %}
    {% include carousel.html
    id=36
    gallery_images=carousel.images
    gallery_sources=carousel.sources
    title=carousel.title
    %}
  </li>
</ul>
Видам рукавов и вырезов (не только на платье) я планирую посвятить отдельную статью.
<h2>Виды платьев по посадке</h2>
{% assign carousel=site.data.dresses_carousels.items[37] %}
{% include carousel.html
id=37
gallery_images=carousel.images
gallery_sources=carousel.sources
gallery_captions=carousel.captions
%}
<p>См. также <a
    href="https://ru.wikipedia.org/wiki/%D0%AD%D0%BF%D0%BE%D1%85%D0%B0_%D0%A0%D0%B5%D0%B3%D0%B5%D0%BD%D1%82%D1%81%D1%82%D0%B2%D0%B0_(%D0%92%D0%B5%D0%BB%D0%B8%D0%BA%D0%BE%D0%B1%D1%80%D0%B8%D1%82%D0%B0%D0%BD%D0%B8%D1%8F)">статью
    об эпохе Регентства на Википедии</a> и <a href="gatsby">обзор на стиль гэтсби на моём сайте</a>.</p>
<h2>Виды платьев по длине</h2>
{% assign carousel=site.data.dresses_carousels.items[38] %}
{% include carousel.html
id=38
gallery_images=carousel.images
gallery_sources=carousel.sources
gallery_captions=carousel.captions
%}
<p><i>По материалам сайта <a href="https://dress-mag.com/wiki/platya/">Dress Mag</a></i></p>