---
custom_title: "Субкультура панк"
page_image_bg: "Стиль панк.jpeg"
page_image_source: "https://www.kamo-uniforma.ru/articles/315418/"
categories: [subcultures_and_aesthetics]
gallery_images: ["Куртка панк.jpeg", "Макияж панк.jpg", "Ирокез.jpg"]
gallery_sources: ["https://www.joom.ru/ru/products/6285f9b1202e1101a6e459a6", 
"https://ru.pinterest.com/melanfolia/", "https://insurgent.ru/irokez"]
gallery_captions: ["Куртка в стиле панк", "Макияж в стиле панк", "Ирокез - причёска, часто ассоциируемая с панками"]
permalink: "punk"
description: "Панк-субкультура: история, мировоззрение, элементы стиля, направления и характерные черты одежды."
---
<p>Эта субкультура появилась в среде молодёжи в конце 1970-х годов. Её представители в основном приверженцы левых идеологий. Их мировоззрение включает в себя критику системы, стремление к полной независимости, презрение к коммерческим отношениям, вместо которых они предлагают делать всё самому (принцип DIY).</p>
<p>Панки оказали большое значение на культуру, породив такой жанр, как панк-рок. Одна из самых известных групп в этом направлении - Sex Pistols. Кроме того, субкультура оставила след и в истории моды: свои первые коллекции Мальком Макларен и Вивьен Вествуд создавали именно в этом стиле.</p>
<p>Однако есть и обратная сторона медали. Поскольку панки презирали устоявшиеся ценности, то некоторые из них вели крайне маргинальный образ жизни: употребляли запрещённые вещества, пили много алкоголя. Такое отношение к жизни описывает лозунг "Live fast, die young" (живи быстро, умри молодым). К примеру, участник выпеупомянутой Sex Pistols Сид Вишес умер от передозировки героином в 21 год. </p>
<p>С мировоззрением панков мы познакомились, теперь перейдём к их стилю: у нас же блог о моде:)</p>
<p>
К слову, он весьма своеобразен, а к его основным элементам можно отнести: 
  <ul>
    <li>Кожаные куртки или жилеты. Желательно, чтобы на них было много заклёпок, шипов и застёжек;</li>
    <li>Джинсы или штаны с потёртостями, дырками и нашивками;</li>
    <li>Кожаные ботинки или сапоги с массивной подошвой. Обувь должна быть чёрного цвета;</li>
    <li>Разноцветные волосы (одна из причёсок, которая часто ассоциируется с панками - ирокез);</li>
    <li>Аксессуары, например, браслеты, ожерелья, кольца и даже наручные часы;</li>
    <li>Для женщин - яркий макияж в тёмных тонах и тёмный маникюр;</li>
  </ul>
</p>
<h2>Направления в стиле панк</h2>
<p>У стиля панк очень много направлений: готический, поп-панк, стрит-панк, киберпанк, стимпанк, дизельпанк и т.д. Давайте остановимся на некоторых из них поподробнее.</p>
<h3>Киберпанк</h3>
<p>Этот стиль появился в 1980-х годах. Его последователи черпали идеи из научной фантастики. Для киберпанка характерны использование современных высокотехнологичных материалов, яркие цвета и металлические элементы. В целом, киберпанк схож со стилем футуризм.</p>
{% assign carousel = site.data.punk_carousels.items[0]%}
{% include carousel.html  
  gallery_images=carousel.images 
  gallery_sources=carousel.sources
  title=carousel.title
  id=0
%}
<h3>Стимпанк и дизельпанк</h3>
<p>Если киберпанк основан на представлении высокотехнологичного будущего, то два этих направления предлагают нам обратиться к прошлому. Если конкретнее, то стимпанк черпает вдохновение из Викторианской эпохи (конец XIX века), а дизельпанк - из периода с Первой по Вторую мировую войну включительно. Кино и литература, относящиеся к этим направлениям - это научная фантастика, в которой создаются альтернативные миры, где технологическое развитие пошло по другому пути. Как понятно из названий направлений, это развитие основано либо на паровых машинах, либо на дизельных двигателях. Теперь давайте перейдём к визуальной составляющей.</p>
<p>В стимпанковском образе присутствует множество деталей механизмов: гайки, болты, шестерёнки и т.д., а также ремни и шнуровки. Кроме того, подойдут гогглы - характерного вида очки. У меня есть такие, фото вы можете видеть ниже. Девушки при составлении наряда в этом стиле могут надеть длинное платье с корсетом (ведь их носили на протяжении почти всего XIX века).</p>
{% assign carousel = site.data.punk_carousels.items[1]%}
{% include carousel.html  
  gallery_images=carousel.images 
  gallery_sources=carousel.sources
  title=carousel.title
  gallery_captions = carousel.captions
  id=1
%}
<p>Дизельпанк можно назвать комбинацией панка и стимпанка. В этом стиле тоже используются механические детали, но вот длинных платьев уже не будет. Вместо них нужно надеть вещи в стиле милитари, например, кожаные куртки и берцы. Одна из особенностей этого стиля - использование металлических элементов: заклёпок, цепей, замков, как и в "обычном" панке.</p>
{% assign carousel = site.data.punk_carousels.items[2]%}
{% include carousel.html  
  gallery_images=carousel.images 
  gallery_sources=carousel.sources
  title=carousel.title
  gallery_captions = carousel.captions
  id=2
%}
<i>По материалам Википедии и сайтов <a href="https://youngspace.ru/subculture/panki-subkultura">Youngspace</a>, </a href="https://www.marieclaire.ru/moda/viven-vestvud-punk-v-mode/">Marie Claire</a> и <a href="https://www.alltime.ru/blog/?page=post&blog=watchblog&post_id=stil-pank-v-odezhde-obrazy-devushek-i-muzhchin-v-thisyear-godu">alltime.ru</a></i>