---
custom_title: "Эстетика y2k"
page_image_bg: "y2k.png"
page_image_source: "https://www.premiumy2kwholesale.com/blog/why-y2k-fashion-is-popular-in-2024"
gallery_images: []
gallery_sources: []
gallery_captions: []
categories: [subcultures_and_aesthetics]
permalink: "y2k"
---

<p>Эта эстетика отражает ностальгию по периоду с конца 1990-х по начало 2000-х годов. Изначально аббревиатура означала гипотетическую ошибку в работе компьютеров, не настроенных на то, чтобы показывать годы второго тысячелетия (т.е. по наступлении 2000 года они показывали бы 1900. Прямо машина времени!). Проблему решить удалось, а аббревиатура обрела новую жизнь в 2020-х, поменяв значение.</p>

<h2>Элементы образа в стиле y2k</h2>
<p>Мода 2000-х была вызывающей, основанной на нарушении классических правил стиля. Почувствовать атмосферу того времени помогут:</p>
<ul>
  <li>Джинсы с широким вырезом и низкой посадкой;</li>
  <li>Кардиганы;</li>
  <li>Кроп-топы;</li>
  <li>Бархатные спортивные костюмы;</li>
  <li>Кроссовки с массивной подошвой;</li>
  <li>Необычные солнцезащитные очки;</li>
  <li>Мини-юбки;</li>
  <li>Бомберы;</li>
  <li>Большие ремни;</li>
  <li>Брюки карго;</li>
  <li>Сумка-багет в молодёжном стиле.</li>
</ul>

{% assign carousel = site.data.y2k_carousels.items[0]%}
{% include carousel.html  
  gallery_images=carousel.images 
  gallery_sources=carousel.sources
  gallery_captions = carousel.captions
  title=carousel.title
  id=0
%}

<p>Если мы говорим о бижутерии, стоит присмотреться к серьгам-конго, заколкам, браслетам. Желательно, чтобы в образе присутствовали стразы и пайетки, но важно не переборщить.</p>

{% assign carousel = site.data.y2k_carousels.items[1]%}
{% include carousel.html  
  gallery_images=carousel.images 
  gallery_sources=carousel.sources
  gallery_captions = carousel.captions
  title=carousel.title
  id=1
%}

<h2>Связанные эстетики</h2>
<h3>McBling</h3>
<p>Этот стиль также ассоциируется с двухтысячными и отличается гламурностью. Основным цветом при составлении образа должен быть розовый. Не забудьте про яркие аксессуары!</p>

{% assign carousel = site.data.y2k_carousels.items[2]%}
{% include carousel.html  
  gallery_images=carousel.images 
  gallery_sources=carousel.sources
  gallery_captions = carousel.captions
  title=carousel.title
  id=2
%}

<h3>Frutiger Aero</h3>
<p>Это направление скорее не в моде, а в дизайне интерфейсов (кстати, приложения и сайты в стиле y2k тоже есть). Его особенность - использование реалистичных текстур (скевоморфизм) и изображений природы (особенно воды, рыб и травы).</p>

{% include article-image.html src="frutiger aero образ.jpg" author="https://ru.pinterest.com/sornbae_dti/"
description="Образ в стиле Frutiger Aero в игре Dress to Impress"%}

{% include article-image.html src="frutiger aero bg.webp" author="https://frutiger-aero.org/frutiger-aero"
description="Изображение в стиле Frutiger Aero"%}

{% include article-image.html src="windows7.webp" author="https://www.reddit.com/r/windows7/comments/14k5s4t/frutiger_aero_setup/?rdt=63110"
description="Операционная система Windows 7 - один из известнейших примеров использования стиля Frutiger Aero"%}

<p><i>При написании статьи использовались материалы сайтов <a href="https://elyts.ru/blog/trend-y2k-chto-takoe-moda-nulevyh/">Elyts</a> и <a href="https://www.brandsvillage.ru/blogs/journal/chto-zhe-takoe-nashumevshiy-stil-y2k">BrandsVillage</a></i></p>